<div class="noid row">
  <h3>
    {{"aha"}}
    {{apps.noid.name}}
    <em class="pull-right">{{apps.noid.country}}</em>
  </h3>
</div>


<div>
<h1>Listing noids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noids.each do |noid| %>
      <tr>
        <td><%= noid.name %></td>
        <td><%= link_to 'Show', noid %></td>
        <td><%= link_to 'Edit', edit_noid_path(noid) %></td>
        <td><%= link_to 'Destroy', noid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Noid', new_noid_path %>

</div>