<html ng-app="noidApps">
<head>
  <title>Noids</title>
  <%#= javascript_include_tag 'angular.min', 'data-turbolinks-track' => true %>
  why this line ? where else do we link to angualar script file?
  do you want separate palce for angular js work ?
  i don't understand
  i thought angular.min was a script that we should link to

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> <------     already link here
  this 'application' mean application.js
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppsController as apps">
<%= yield %>
</body>
</html>
